.Pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.Pagination button {
	width: 40px;
	height: 40px;
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
	margin: 10px;
	border-radius: 6px;
	cursor: Pointer;
	transition: all 0.3s ease;
	background: transParent;
	color: #7dbbdf;
	border-color: #88b8e6;
}

.Pagination button.active {
	font-weight: 900;
	border-color: rgb(96, 120, 253);
	background: #7dbbdf;
	color: #ffffff;
}
i {
	color: #7dbbdf;
}
